doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')

        script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.4.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
        script(type='text/javascript', src='https://unpkg.com/fusioncharts/fusioncharts.js')
        script(type='text/javascript', src='https://unpkg.com/fusioncharts/fusioncharts.charts.js')
        script(type='text/javascript', src='https://unpkg.com/fusioncharts/themes/fusioncharts.theme.fint.js')
        script(type='text/javascript', src='https://rawgit.com/fusioncharts/fusioncharts-jquery-plugin/feature/node-commonjs-support/package/fusioncharts-jquery-plugin.js')
        script.
            window.addEventListener('message', function (event) {
                for(key in event.data){
                    for(style in event.data[key]){
                        $(key).css(style, event.data[key][style]);
                    }
                }

            });
        block js
    body
        block content
