extends layout

block js
  script(src='/javascripts/msgraph.js')
block content
  #graph.container
    .row
      .col-xs-11
        #chart-container
        .form-group
          label(for='styles') Style
          select#styles.form-control
