extends layout

block js
  script(src='/javascripts/msgraph.js')
block content
  #graph.container
    .row
      .col-xs-8
        #chart-container
        .form-group
          label(for='styles') Style
          select#styles.form-control
            option(value='mscolumn2d')
              | 2D Column Chart
            option(value='mscolumn3d')
              | 3D Column Chart
            option(value='msbar2d')
              | 2D Bar Chart
            option(value='msbar3d')
              | 3D Bar Chart
            option(value='line')
              | Line Chart
            option(value='marimekko')
              | Marimekko
              | Chart

