extends layout

block content
    style(type='text/css').
      #mynetwork {
        width: 100%;
        height: 500px;
        border: 1px solid lightgray;
      }
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css', rel='stylesheet', type='text/css')
    script(src='/javascripts/networkgraph.js')
    p
      | Citation Web
    .container
        #mynetwork.col-xs-11
    #options.container
        .row
            .col-xs-11
                div.form-inline.query_type
                    div.form-group
                        label() Get Citation Web of
                        input#center-input.form-control(placeholder="Low-density parity check codes over GF(q)", size = 50)
                    div.form-group
                        label() with Distance
                        input#distance-input.form-control(placeholder="2")
                    button.btn.btn-primary#submit() Query!

