extends layout

doctype html
html
  head
    title Network | Les miserables
    style(type='text/css').
      #mynetwork {
        width: 900px;
        height: 900px;
        border: 1px solid lightgray;
      }
    script(type='text/javascript', src='../../../dist/vis.js')
    link(href='../../../dist/vis-network.min.css', rel='stylesheet', type='text/css')
    script(type='text/javascript').
    script(src='/javascripts/sgraph.js')
    p
      | Relations between the characters of "Les miserables".
    #mynetwork
