extends layout

block content
    style(type='text/css').
      #mynetwork {
        width: 100%;
        height: 500px;
        background: transparent;
      }
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css', rel='stylesheet', type='text/css')
    script(src='/javascripts/networkgraph.js')
    #graph.container
        .row
            .col-xs-11
                #mynetwork
    #options.container
        .row
            .col-xs-11
                div.form-inline.query_type
                    div.form-group
                        label() Get Citation Web of&nbsp;&nbsp
                        input#center-input.form-control(placeholder="Low-density parity check codes over GF(q)")
                    div.form-group
                        label() &nbsp&nbsp;with Distance&nbsp;&nbsp;
                        input#distance-input.form-control(placeholder="2")
                    button.btn.btn-primary#submit() Query!

