extends layout

block js
    script(src='/javascripts/sgraph.js')
    script(src='/javascripts/msgraph.js')
    script(src='/javascripts/graph.js')

block content
    #graph.container
        .row
            .col-xs-11
                #chart-container
                .form-group
                    label(for='styles') Graph Types
                    select#styles.form-control
                        option(value="")
                            | Graph types are displayed only after query completes

    #options.container
        .row
            .col-xs-11
                div.form-inline.query_type
                    div.form-group
                        label(for='query_type') Get
                        select#query_type.form-control
                            option(value="count")
                                | number of
                    div.form-group
                        select#reference_type.form-control
                            option(value="authors")
                                | authors
                            option(value="papers")
                                | papers

                    div.form-group
                        label() across
                        select.form-control#count
                            option(value="years")
                                | years
                            option(value="venues")
                                | venues

                    div.form-group
                        input#count-input.form-control(placeholder="E.g 2012,2013,2014 or arxiv")
                    div.form-group.hidden
                        select#count-ms.form-control
                            option(value="")
                                | .
                    div.form-group.hidden
                        input#count-ms-input.form-control(placeholder="E.g 2012,2013,2014 or arxiv")
                    button.btn.btn-primary#submit() Query!
